.about-container {
    width: 100%;
    background: var(--less-grey);
    padding-top: 4rem;
    visibility: hidden;
    height: 100%;
}

.about-heading {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.about-text-container {
    height: 50%;
    text-align: center;
    padding: 0 2rem 3rem 2rem;
}

.about-text-container > h1 {
    font-weight: 300;
    font-size: 2.8rem;
    color: var(--font-cyan);
    margin-top: 0;
    margin-bottom: 0;

}

.about-text {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    
}

.grad-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.grad-img {
    width: 200px;
}

.btn-container {
    margin-top: 2rem;
}

@media only screen and (min-width: 768px){ 
    .about-container {
        padding-top: 0;
        padding-left: 4rem;
        height: 100%;
        position: fixed;
    }
    .about-heading {
        flex-direction: row;

    }

    .grad-container {
        width: 50%;
        height: 100%;
        padding: 0 5rem 0 0;
    }

    .about-text-container {
        width: 50%;
        height: 100%;
        padding: 0 1rem 0 4rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grad-img {
        width: 300px;
        
    }

    .about-text-container > h1 {
        font-size: 4rem;
    }
}