.contact-container {
    padding-top: 4rem;
    background-color: var(--less-grey);
    height: 100%;
    visibility: hidden;
    width: 100%;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.form-container {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
    height: 100%;
}

.form-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
}

.form-header > h2 {
    margin: 0 0 10px 0;
    font-weight: 300;
    color:  #00cce7;
    font-size: 3rem;
}

.form-header > h5 {
    margin: 0 0 5px 0;
    font-weight: 100;
}

.input-wrap {
    width: 80%;
    margin: 0 0 25px 0;
}

.form-control {
    width: 100%;
    border: none;
    background-color: rgb(85, 85, 85);
    color: #fff;
    font-size: 0.8rem;
    font-weight: 100;
    
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-control {
    height: 40px;
}

.btn-submit {
    color: #fff;
    border: solid 2px var(--btn-blue);
    background-color: var(--btn-blue);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: .8rem;
    cursor: pointer;
    transition: .15s;
    font-weight: 300;
}

.btn-submit:hover {
    background-color: #00b7cf;
    border: solid 2px #00b7cf;
    color: #333;
}

.svg-container {
    display: none;
}


@media only screen and (min-width: 768px) {
    .contact-container {
        padding-top: 0;
        padding-left: 4rem;
        position: fixed;
    }
    .svg-container {
        display: flex;
        width: 50%;
        height: 100%;
        padding: 0 2rem;
        align-items: center;
    }

    .form-image {
        width: 100%;
        height: 100%;
        padding: 0 5rem 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-wrapper {
        flex-direction: row;

    }
    
    .form-container {
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .form-image > img {
        width: 100%;
    }

    
}
