.hero-container {
    padding-top: 4rem;
    background-color: var(--less-grey);
    height: 100%;
    visibility: hidden;
    width: 100%;
}

.heading{
    padding: 10rem 3rem;

}

.heading-text {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    margin: 0;
}

.hi-lite {
    color: var(--font-cyan);
}

.heading-desc {
    color: #fff;
    margin: 0;
    font-weight: 100;
    margin-bottom: 2rem;
}


.btn-contact {
    margin-right: 25px;
    margin-bottom: 15px;
}


.svg-hero {
    display: none;

}



@media only screen and (min-width: 768px) {
    .svg-hero {
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        padding: 0 2rem;
    }

    .hero-container {
        padding-left: 4rem;
        padding-top: 0;
        position: fixed;
    }

    .heading-container {
        display: flex;
        padding-top: 0;
        align-items: center;
        height: 100%;
        
    }

    .heading {
        width: 50%;
        padding-right: 0;
    }

    .heading-text {
        font-size: 4rem;
    }

    .heading-desc {
        font-size: 1rem;
    }

    
}

@media only screen and (min-width: 900px) {
    .heading {
        padding-left: 5rem;
    }
}

@media only screen and (min-width: 1300px) {
    .heading-text {
        font-size: 5rem;
        
    }

    .heading-desc {
        font-size: 1.2rem;
    }
}

