.project-container {
    width: 100%;
    background: var(--less-grey);
    padding-top: 4rem;
    height: 100vh;
    
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.loading-container {
    height: 60%;
    padding: 4rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-img {

    padding: 0;
    margin: 0;
    width: 100%;
}


.load-wrapper {
    width: 100%;
    padding: 0 1rem 1 rem 1rem;
    height: 20%;
    display: flex;
    justify-content: center;
    
}

  /* Basic styles */
  .loading-text {
      position: relative;
      color: #00cce7;
      font-family: 'Inconsolata', Consolas, monospace;
      font-size: 1.3rem;
      font-weight: 100;
      margin: 0;
  }
  .loading-text span{
      position: absolute;
      top: 0;
      right: 0;
      background: #181818;
      width: 100%;
      border-left: .1em solid transparent;
      -webkit-animation: typing 1s steps(20) forwards,
                                           cursor 1s infinite;
      animation: typing 1s steps(20) forwards,
                           cursor 1s infinite;
  }
  /* Animation */
  @-webkit-keyframes typing{
      from { width: 100%;}
      to { width: 0;}
  }
  @-webkit-keyframes cursor{
      50% { border-color: white;}
  }
  @keyframes typing{
      from{ width: 100%;}
      to{ width: 0;}
  }
  @keyframes cursor{
      50% { border-color: white;}
  }


  @media only screen and (min-width: 768px){ 
    .project-container {
        padding-top: 0;
        padding-left: 4rem;
        height: 100vh;
        position: fixed;
    }

    .project-wrapper {
        justify-content: center;
    }
    .loading-container {
        height: 80%;
        padding-left: 0;
    }

    .load-img {
        width: 50%;
    }


}

