.skill-container {
    width: 100%;
    background: var(--less-grey);
    padding-top: 4rem;
    height: 100%;
    visibility: hidden;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.skill-text {
    height: 50%;
    text-align: center;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-desc {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}

.skill-text .text-header {
    font-weight: 300;
    font-size: 2.8rem;
    color: var(--font-cyan);
    margin-top: 0;
    margin-bottom: 0;
}

.skill-icon-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 2rem 0;
    text-align: center;

}

.icon-wrapper {
    width: 100%;
    padding: 0 1rem 1 rem 1rem;
}

.icon-cube {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-color: rgb(104, 104, 104);
    margin: 5px;
    text-align: center;
}

.icon {
    font-size: 2rem;
    padding: 24px;
    
}



@media only screen and (min-width: 768px){ 
    .skill-container {
        padding-top: 0;
        padding-left: 4rem;
        height: 100%;
        position: fixed;
    }
    .skill-wrapper {
        flex-direction: row;

    }

    .skill-icon-container {
        width: 50%;
        height: 100%;
        padding: 0 5rem 0 0;
        align-items: center;
    }

    .skill-text {
        width: 50%;
        height: 100%;
        padding: 0 1rem 0 4rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skill-text .text-header {
        font-size: 4rem;
    }

    .icon-cube {
        width: 8rem;
        height: 8rem;
        background-color: rgb(104, 104, 104);

    }
    
    .icon {
        font-size: 4rem;
        padding: 24px;
        
    }

}

